.home-header{
	background-color: #EEEEEE;
	padding: 20px 50px;
}

.home-header .text-1{
	font-size: 30px;
	display: inline-block;
}

.home-header img{
	width: 30px;
	height: 30px;
	vertical-align: middle;
	display: inline-block;
	margin-right: 10px;
}

.show-box{
	display:none;
}

#home{
	display: block;
}

.menu-header{
	height: 60px;
	line-height: 60px;
	font-size: 18px;
	background-color: #888;
	color: #000;
	margin-bottom: 20px;
}

.have-chosen-item{
	padding: 0px 5px;
	background-color: #CCCCCC;
	height: 35px;
	line-height: 35px;
	margin-bottom: 10px;
}

.have-chosen-item .item-title{
	width: calc(100% - 10px - 105px);
	display: inline-block;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}

.have-chosen-item .item-btn{
	width: 35px;
	height: 35px;
	display: inline-block;
	cursor: pointer;
	text-align: center;
}

.waiting-chosen-item .classify{
	font-size: 16px;
}

.waiting-chosen-item >.list >.item{
	display: inline-block;
	padding: 5px;
	margin-bottom: 10px;
	margin-right: 5px;
}
